@font-face {
    font-family: 'Mauren';
    src: url('MaurenRegular.woff2') format('woff2'),
        url('MaurenRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

